In [ ]:
import pandas as pd 
import numpy as np

In [120]:
search_request = pd.read_csv('/Users/noahchristian/Downloads/ml_pipeline_airflow/data/search_request.csv')
search_results = pd.read_csv('/Users/noahchristian/Downloads/ml_pipeline_airflow/data/search_result_interaction.csv')

In [105]:
search_request.head(2)

,Unnamed: 0,search_id,search_query,ts,cuid,total
0,0,gSogzavY5nP7fCLEtWdc,wyrm,2020-03-10 13:24:31+00:00,1259928,86
1,1,LJVevlnG6YSz8hWRzGAu,can you read my lips,2020-09-02 21:41:24+00:00,95330844,142

In [106]:
search_results.head(2)

,Unnamed: 0,search_id,ts,cid,position
0,0,CjooiSDXx5dsx4ipdOoS,2018-09-03 21:24:50.000 -0400,210981,7
1,1,pYUNPqVjnN81YAYPAVNM,2020-01-10 22:56:47.000 -0500,174957219,1

In [ ]:
search_request.isnull().sum()

In [ ]:
search_results.isnull().sum()

In [ ]:
search_request.shape, search_request.shape

In [ ]:
search_results.describe(include='all')

In [ ]:
search_request.describe(include='all')

In [118]:
#create function to clean up ts column 
def clean(df):
    for count, value in enumerate(df['ts']):
        if value[27:28] == '0':
            x = value[:19]
            y = value[24:]
            z = y[:3] + ':' + y[3:]
            cleaned = x + z
            df['ts'][count] = cleaned
            df['ts'] = pd.to_datetime(search_request['ts'], utc=True)
    return df

In [ ]:
total = df2.merge(df, on="search_id", how="left", copy=False)
total.head()

In [ ]:
total.isnull().sum()

In [ ]:
total = total.dropna()
total.head()

In [ ]:
search_request = pd.DataFrame(total, columns = ['search_id', 'ts_y', 'cuid', 'total'])
search_result_interaction = pd.DataFrame(total, columns = ['search_id', 'ts_x', 'cid', 'position'])

In [ ]:
search_request['cuid'] = search_request.cuid.astype(int)
search_request['total'] = search_request.total.astype(int)
search_request = search_request.rename(columns={'ts_y':'ts'})
search_request.head()

In [ ]:
search_result_interaction = search_result_interaction.rename(columns={'ts_x':'ts'})
search_result_interaction.head()